In [1]:
import pandas as pd

In [2]:
# Read data
data = pd.read_csv('/Users/maijahavusela/Desktop/gradu/data/NUTS_RG_20M_2021_3035/NUTS.csv',sep=',')

# Choosing only the NUTS3
data = data[data['NUTS_ID'].astype(str).str.len() == 5]

# Sorting
data = data.sort_values(by='NUTS_ID', key=lambda col: col.astype(str))
data

,NUTS_ID,LEVL_CODE,CNTR_CODE,NAME_LATN,NUTS_NAME,MOUNT_TYPE,URBN_TYPE,COAST_TYPE
486,AL011,3,AL,Dib�r,Dib�r,4.0,3,3
487,AL012,3,AL,Durr�s,Durr�s,4.0,2,1
483,AL013,3,AL,Kuk�s,Kuk�s,4.0,3,3
485,AL014,3,AL,Lezh�,Lezh�,4.0,3,1
484,AL015,3,AL,Shkod�r,Shkod�r,4.0,2,1
...,...,...,...,...,...,...,...,...
1836,UKN0C,3,UK,Causeway Coast and Glens,Causeway Coast and Glens,4.0,3,1
1837,UKN0D,3,UK,Antrim and Newtownabbey,Antrim and Newtownabbey,4.0,2,1
1838,UKN0E,3,UK,Lisburn and Castlereagh,Lisburn and Castlereagh,4.0,2,2
1694,UKN0F,3,UK,Mid and East Antrim,Mid and East Antrim,4.0,2,1
1695,UKN0G,3,UK,Fermanagh and Omagh,Fermanagh and Omagh,4.0,3,2